.w-100 {
    width: 100vw!important;
    height: auto;
}


header .ind{
    height: 100vh;
    width: 100vw;
}

@media  (max-width: $small){
    #carouselExampleSlidesOnly{
                 top: 8vh;
             }
     
 
  }


.headerImg{
    background-image: url("../img/ezgif-5-f37bf17f8c.gif");
    height: 400px ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & h1 {
    color: white;
    text-align: center;
            }
        }




    
.frase_trabajos{
    line-height: 20px;
    justify-self: center;
    align-self: center;
    @media (max-width: $small){
        width: 48vw;
        padding-left: 30px;
        line-height: 20px;
        justify-self: center;
        height: 49px;
    }
    & h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

}


