.navbar-dark {
    --bs-navbar-color: $colorPrimario;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 20px;
    font-size: 1rem;
}

.offcanvas-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;

}
.redes{
    margin-right: 20px;
    border-top: 1px solid $colorquinto;
    margin-top: 20px;
    @media (max-width: $small){
        margin-right: 0px;
        margin-top: 10px;
        order: 0;
        height: 30px;
 
  }

    a{
        img {
            width: 23px;
            margin-right: 14px;
            padding-top: 20px;
             }
    }
    

}