*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

body{
    position: relative;
    width: auto;
    height: 100vh;
    display: block;
}

a{
    text-decoration: unset;
    color:$colorPrimario;
    &:hover{
        color:$colortercero;

    }
    &active{
        color:white;
    }
    &:visited{
        color:$colortercero;
    }
}


