*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: auto;
    height: 100vh;
}

a{
    text-decoration: unset;
    color:black;
    &:hover{
        color:$colortercero;

    }
    &active{
        color:white;
    }
    &:visited{
        color:$colortercero;
    }
}


