*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: auto;
    height: 100vh;
}

a{
    text-decoration: unset;
    color:black;
    &:hover{
        color:$colortercero;

    }
    &active{
        color:white;
    }
    &:visited{
        color:$colortercero;
    }
}


button.btn{
    &:active {
        background-color: $colortercero;
        color: black;
    
    }
    
    &:link {
        background-color: $colortercero;
        color: black;
    }

}
.btn{
    background-color:black;
    padding: 8px 12px;
    color: white;
    border: 1px solid black; 
}