$colorPrimario:black;
$colorSecundario:#5DC791;
$colortercero:#F1EFED;
$colorcuarto:#161717;
$colorquinto:rgb(112, 112, 112);


$small: 400px;
$medium:768px;
$medium2:576px;
$big: 900px;


/*
$breakpoints: (
    sm : 400px;
    lg : 768px;
    md : 576px;
   bg : 1024px;
   xl : 1280px;
   );

   @mixin media-up ($breakpoint){
       @media screen and (min-width: map-gat($breakpoints, $breakpoint)) {
        @content;
       }
   } 
   */