    @import "reset.scss";
    @import "fonts.scss";
    @import "navbar.scss";
    @import "header.scss";
    @import "variables.scss";
    @import "footer.scss";


    .intro{
        background-color:$colorTercero ;
        height: 30vh;
        padding-left: 20%;
        position: absolute;
        padding-top: 30px;
        bottom: 14vh;  
        @media (max-width: $small){
        background-color: $colorTercero;
        height: 50vh;
        padding-left: 8%;
        display: block;
        padding-top: 13vh;
        }

        h6{
            color:$colorSecundario;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: clamp(1rem, 1vw, 2rem);
            line-height: 1;  
        }
        h1{
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1;
            font-size: clamp(2rem, 3.5vw, 5rem)
        }
        h2{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: clamp(1.5rem, 3.5vw, 5rem);
            text-transform: uppercase;
            line-height: 1;
            @media (max-width: $small){
            width: 300px;
            }
        }
    }

    header {
        &.t2{
            z-index: 1;
            display: grid;
                grid-gap: 0px;
                margin: 3rem auto;
                max-width: 100%;
                grid-template-columns: repeat(4, 1fr);
               height: auto;
               padding-top: 50px;
               padding-bottom: 0px;
              margin-bottom: 0px;
              @media (max-width: $small) {
               width: 100%;}
     
                @media (max-width: $big) {
                 grid-template-columns: repeat(3, 1fr);
                 }
                 @media (max-width: $medium) {      
                 grid-template-columns: repeat(3, 1fr);
                width: 768px;
                 max-width: 727px;     
                }
                  @media (max-width: $medium2) {               
                 grid-template-columns: repeat(2, 1fr);
                   width: 100%;
                 }
    
           
        
              .trabajos_flecha{
                width: 25vw;
                line-height: 50px;
                height: 200px;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: flex-end;
                padding-right: 20px;
                border-right: $colorCuarto 1px solid;
                    
                 @media (max-width: $big) {
               
                   width: unset;
                   }
                  
                            
                   @media (max-width: $medium2) {
                    
                    width: unset;
                   
                    }
                           
                   
                    @media (max-width: $small){
                                  
                    width: 51vw;
                    padding-right: 38px;
                    }
                   
                               
                & img{
                    width: 50px;
                
                }
                }
                .frase_trabajos_i1{
                    line-height: 20px;
                    justify-self: center;
                    align-self: center;
                    & h2{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 20px;
                    }
                    @media (max-width: $small) {
                        display: none;
                        }
                     @media (max-width: $medium2) {
                           
                        display: none;
                                      }
                      @media screen and (max-width: $big) {
                     display: none;
                                                   
                     }
                }
                     
              
                  
                .frase_trabajos_i2{
                    justify-self: center;
                    align-self: center;
                    & h2{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 1;
                    }
    
                    @media (max-width: $small){
        
                     line-height: 1;
                     font-size: 20px;
                 
                        }
                     @media screen and (max-width: $big) {
    
                         padding-left: 40px;
    
                        }
                
                }
                .frase_trabajos_i3{
                @media (max-width: $small) {
                   display: none;
                    }
                
                 @media (max-width: $medium2) {
                 display: none;
                  }
                 @media screen and (max-width: $big) {
                display: none;
                }
                }
                }
        }
    
    .t2_2{
        z-index: 1;
        display: grid;
            grid-gap: 0px;
            margin: 3rem auto;
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
           height: auto;
           padding-top: 50px;
           padding-bottom: 20px;
           align-items: flex-start;
           @media (max-width: $small){
                z-index: 1;
                display: grid;
                grid-gap: 0px;
                margin: 3rem auto;
                max-width: 350px;
                grid-template-columns: repeat(1, 1fr);
                height: auto;
                padding-top: 50px;
                padding-bottom: 20px;
                align-items: center;
                justify-content: center;
                justify-items: start;
                align-content: space-between;
         }
    }
    
    .t2_3{
        z-index: 1;
        display: grid;
            grid-gap: 0px;
            margin: 3rem auto;
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
           height: auto;
           padding-top: 50px;
           padding-bottom: 20px;
           align-items: flex-start;
           @media (max-width: $small){
                 grid-template-columns: repeat(1, 1fr);
          }
    }
    
    
    .trabajos_flecha_2{
        width: 25vw;
        line-height: 50px;
        height: 200px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: top;
        align-items: flex-end;
        padding-right: 20px;
        @media  (max-width: $small){
                   width: 56vw;
                   line-height: 46px;
                   height: 146px;
                   font-family: 'Roboto', sans-serif;
                   font-weight: 900;
                   font-size: 20px;
                   display: flex;
                   flex-direction: column;
                   flex-wrap: nowrap;
                   justify-content: top;
                   align-items: flex-end;
                   padding-right: 20px;
            }
        & img{
            width: 50px;
        }
    }
    

/*/////////////////////CARDS/////////////////////*/

main{
    width: 100%;
    height: 20vh;
    & .trabajos{
        width: 100%;
        max-width: 1260px;
        height: auto;
        padding-bottom: 20px;
        padding-left: 0%;
        padding-right: 0%;
        display: flex;
        padding-top: 0px;   
        @media (max-width: $small){
        padding-bottom: 105px;
        }

        .cards{
            display: grid;
            grid-gap: 0px;
            margin: 4rem auto;
            max-width: 1000px;
            width: 20%;
            grid-template-columns: repeat(4, 1fr);
            border-collapse: collapse;
            border: 0.6px solid black;
            border-spacing: 0px;    
            @media (max-width: $small){
            display: grid;
            grid-gap: 0px;
            margin: 20px auto;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            }
            @media (max-width: $medium2) {
                grid-template-columns: repeat(2, 1fr);
                }    
            @media (max-width: $big) {
            grid-template-columns: repeat(3, 1fr);
            }


            .tarjeta{
                display: flex;
                flex-direction: column;
                align-items: center ;
                border: 0.6px solid $colorPrimario;
                padding: 44px;
                min-height: 270px;
                @media (max-width: $small){
                     width: 90%;
                }

                .card_titulo{
                 font-size: 14px;
                 margin: 5px 0px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                 line-height: 12px;
                 @media (max-width: $small){
                margin-left: 10px;
                }
                }

                 .card_date{
                    padding-bottom: 20px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 900;
                    font-size: 12px;
                    color: #5DC791;
                    line-height: 12px;
                }

                .contenedor{
                    
                    position: relative;
                    align-items: center;
                    display: flex;
                    justify-content: space-evenly;
                    
                    img.card_foto {
                    width: 150px;
                     @media (max-width: $small){
                     width: 240px;
                    }
                    /*
                     &:hover {
                     transform:scale(2.1);
                     padding: 0px;
                     filter: hue-rotate(90deg);
                     }*/
                            }
                            } 
                       
            img.card_foto{
                    width: 150px;
                    }

                .card_descrip{
                      text-align: center;
                      padding-top: 20px;
                     padding-bottom: 20px;
                     font-size: 16px;
                     font-family: 'Roboto', sans-serif;
                      font-weight: 400;
                     line-height: 20px;
                     & span{
                     font-weight: 900;
                      }
                     }
                     button.btn{
                        &:active {
                            background-color: $colorTercero;
                            color: black;
                        
                        }
                        
                        &:link {
                            background-color: $colorTercero;
                            color: black;
                        }
                    
                    }
                    .btn{
                        background-color:black;
                        padding: 8px 12px;
                        color: white;
                        border: 1px solid black; 
                    }


            }
        }
    }
}

            section
            {
            blanco {
          width: auto;
           height: 50px;
            padding-bottom: 20px;
            }

                }

/*/////////////////////CARDS/////////////////////*/






    /* estilo premios */
    
    .frase_trabajos2{
        width: 65vw;
        margin-right: 80px;
        height: 500px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 13px;
        display: grid;
        max-width: 100%;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
        justify-items:start;
        align-items:center;
        justify-content:start;
      
    }

    .nota_premios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 135px;
        width: 100%;
        padding-bottom: 20px;
        border-top: #161717 solid 1px;
        align-items: center;
        
        }
        
        .volanta_premios{
            line-height: 20px;
            justify-self: start;
            width: 40px;
        }
        
        .texto_premios{
            line-height: 20px;
            width: 700px;
            justify-self: start;
        }
        
        .flecha_premios{
            height: 50px;
            width: 40px;
            line-height: 20px;
            justify-self: start;
        
        }
        

       /* estilo contacto */
    .frase_trabajos3{
        width: 65vw;
        margin-right: 80px;
        height: 500px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 13px;
        display: grid;
        max-width: 100%;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
        justify-items:start;
        align-items:center;
        justify-content:start;
    }
    
  
    img .btn-flecha{
        width: 60px;
        display: grid;
    }
    
    .nosotros_img{
        width: 80%;
        margin-right: 20px;
        img{
            @media (max-width: $small){
                     width: 345px;
                     padding-right: 28px;
                 }
        }
   
    }
    
    .nota_premios_2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        height: 100px;
        width: 100%;
        padding-top: 10px;
        border-top: $colorCuarto solid 1px;
        align-items: center;
        @media (max-width: $small){
         width: 370px;  
        }
        }
    

        .volanta_premios2{
            line-height: 20px;
            justify-self: start;
            width: 200px;
            height: 100px;
        }
    
    
        input textarea{
            font-family: Arial, Helvetica, sans-serif;
            size: 20px;
    
        } 
    
        input#name {
            width: 500px;
            background-color: $colorTercero;
            border: none;
            height: 50px;
            padding-left: 20px;
            color: rgb(112, 112, 112);
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
        }
    
        input#mail{
            width: 500px;
            background-color: $colorTercero;
            border: none;
            height: 50px;
            padding-left: 20px;
            color: $colorQuinto;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
    
        }
    
        textarea#msg{
            width: 500px;
            color:$colorQuinto;
            padding-left: 20px;
            padding-top: 10px;
    
    
        }
    
        li.button{
            list-style: none;
            padding: 5px 0px;
        }
    
          @media (max-width: $small){
            .logo {
                width: 168px;
                color: white;
                padding-left: 0px;
                order: -1;
                height: 30px;
                margin: 0;
                p{

                @media (max-width: $small){
                 padding-top: 10px;
                padding-left: 15%;
                  }
                }
            }

          } 
   